/*Footer*/
.rodape {
    width: 100%;
    padding: 8px 28px;
    border-top: 0.4px solid #0a0a0a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2.5px;
    color: #000000;
}

.rodape-media {
  height: 48px;  
  margin: 0 auto;
}